<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=4.6"/>
	</startup>
	<connectionStrings>
		<add name="cadena_conexion" connectionString="Data Source=(local);Initial Catalog=DB_SISTEMA_VENTA;Integrated Security=True;Encrypt=True;TrustServerCertificate=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>
