USE [DBSistemaVentaDemo]
GO
/****** Object:  UserDefinedTableType [dbo].[EDetalle_Compra]    Script Date: 7/8/2024 3:47:49 PM ******/
CREATE TYPE [dbo].[EDetalle_Compra] AS TABLE(
	[IdProducto] [int] NULL,
	[PrecioCompra] [decimal](18, 2) NULL,
	[PrecioVenta] [decimal](18, 2) NULL,
	[Cantidad] [int] NULL,
	[MontoTotal] [decimal](18, 2) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[EDetalle_Venta]    Script Date: 7/8/2024 3:47:49 PM ******/
CREATE TYPE [dbo].[EDetalle_Venta] AS TABLE(
	[IdProducto] [int] NULL,
	[PrecioVenta] [decimal](18, 2) NULL,
	[Cantidad] [int] NULL,
	[SubTotal] [decimal](18, 2) NULL
)
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 7/8/2024 3:47:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[IdCategoria] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](100) NULL,
	[Estado] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 7/8/2024 3:47:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[IdCliente] [int] IDENTITY(1,1) NOT NULL,
	[Documento] [varchar](50) NULL,
	[NombreCompleto] [varchar](50) NULL,
	[Correo] [varchar](50) NULL,
	[Telefono] [varchar](50) NULL,
	[Estado] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Compra]    Script Date: 7/8/2024 3:47:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compra](
	[IdCompra] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NULL,
	[IdProveedor] [int] NULL,
	[TipoDocumento] [varchar](50) NULL,
	[NumeroDocumento] [varchar](50) NULL,
	[MontoTotal] [decimal](10, 2) NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCompra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleCompra]    Script Date: 7/8/2024 3:47:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleCompra](
	[IdDetalleCompra] [int] IDENTITY(1,1) NOT NULL,
	[IdCompra] [int] NULL,
	[IdProducto] [int] NULL,
	[PrecioCompra] [decimal](10, 2) NULL,
	[PrecioVenta] [decimal](10, 2) NULL,
	[Cantidad] [int] NULL,
	[MontoTotal] [decimal](10, 2) NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDetalleCompra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleVenta]    Script Date: 7/8/2024 3:47:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleVenta](
	[IdDetalleVenta] [int] IDENTITY(1,1) NOT NULL,
	[IdVenta] [int] NULL,
	[IdProducto] [int] NULL,
	[PrecioVenta] [decimal](10, 2) NULL,
	[Cantidad] [int] NULL,
	[SubTotal] [decimal](10, 2) NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDetalleVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NEGOCIO]    Script Date: 7/8/2024 3:47:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NEGOCIO](
	[IdNegocio] [int] NOT NULL,
	[Nombre] [varchar](60) NULL,
	[RUC] [varchar](60) NULL,
	[Direccion] [varchar](60) NULL,
	[Logo] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdNegocio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permiso]    Script Date: 7/8/2024 3:47:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permiso](
	[IdPermiso] [int] IDENTITY(1,1) NOT NULL,
	[IdRol] [int] NULL,
	[NombreMenu] [varchar](100) NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPermiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 7/8/2024 3:47:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[IdProducto] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [varchar](50) NULL,
	[Nombre] [varchar](50) NULL,
	[Descripcion] [varchar](50) NULL,
	[IdCategoria] [int] NULL,
	[Stock] [int] NOT NULL,
	[PrecioCompra] [decimal](10, 2) NULL,
	[PrecioVenta] [decimal](10, 2) NULL,
	[Estado] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 7/8/2024 3:47:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor](
	[IdProveedor] [int] IDENTITY(1,1) NOT NULL,
	[Documento] [varchar](50) NULL,
	[RazonSocial] [varchar](50) NULL,
	[Correo] [varchar](50) NULL,
	[Telefono] [varchar](50) NULL,
	[Estado] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 7/8/2024 3:47:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[IdRol] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](50) NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 7/8/2024 3:47:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Documento] [varchar](50) NULL,
	[NombreCompleto] [varchar](50) NULL,
	[Correo] [varchar](50) NULL,
	[Clave] [varchar](50) NULL,
	[IdRol] [int] NULL,
	[Estado] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Venta]    Script Date: 7/8/2024 3:47:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venta](
	[IdVenta] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NULL,
	[TipoDocumento] [varchar](50) NULL,
	[NumeroDocumento] [varchar](50) NULL,
	[DocumentoCliente] [varchar](50) NULL,
	[NombreCliente] [varchar](100) NULL,
	[MontoPago] [decimal](10, 2) NULL,
	[MontoCambio] [decimal](10, 2) NULL,
	[MontoTotal] [decimal](10, 2) NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categoria] ON 

INSERT [dbo].[Categoria] ([IdCategoria], [Descripcion], [Estado], [FechaRegistro]) VALUES (2, N'Embutidos', 1, CAST(N'2024-06-06T01:19:05.257' AS DateTime))
INSERT [dbo].[Categoria] ([IdCategoria], [Descripcion], [Estado], [FechaRegistro]) VALUES (5, N'Lacteos', 0, CAST(N'2024-06-06T12:52:04.777' AS DateTime))
INSERT [dbo].[Categoria] ([IdCategoria], [Descripcion], [Estado], [FechaRegistro]) VALUES (7, N'Congelados', 1, CAST(N'2024-06-06T17:05:59.793' AS DateTime))
SET IDENTITY_INSERT [dbo].[Categoria] OFF
GO
SET IDENTITY_INSERT [dbo].[Cliente] ON 

INSERT [dbo].[Cliente] ([IdCliente], [Documento], [NombreCompleto], [Correo], [Telefono], [Estado], [FechaRegistro]) VALUES (1, N'10', N'Valeria García ', N'vgarcia70749@ufide.acr.cr', N'88888888', 1, CAST(N'2024-06-24T19:26:39.147' AS DateTime))
INSERT [dbo].[Cliente] ([IdCliente], [Documento], [NombreCompleto], [Correo], [Telefono], [Estado], [FechaRegistro]) VALUES (3, N'20', N'Valll', N'vgarcia70749@ufide.acr.cr', N'88888888', 1, CAST(N'2024-07-02T14:54:55.710' AS DateTime))
SET IDENTITY_INSERT [dbo].[Cliente] OFF
GO
SET IDENTITY_INSERT [dbo].[Compra] ON 

INSERT [dbo].[Compra] ([IdCompra], [IdUsuario], [IdProveedor], [TipoDocumento], [NumeroDocumento], [MontoTotal], [FechaRegistro]) VALUES (11, 1, 1, N'Boleta', N'00001', CAST(20.00 AS Decimal(10, 2)), CAST(N'2024-06-30T14:16:44.993' AS DateTime))
INSERT [dbo].[Compra] ([IdCompra], [IdUsuario], [IdProveedor], [TipoDocumento], [NumeroDocumento], [MontoTotal], [FechaRegistro]) VALUES (12, 1, 1, N'Boleta', N'00002', CAST(80.00 AS Decimal(10, 2)), CAST(N'2024-06-30T14:19:40.543' AS DateTime))
INSERT [dbo].[Compra] ([IdCompra], [IdUsuario], [IdProveedor], [TipoDocumento], [NumeroDocumento], [MontoTotal], [FechaRegistro]) VALUES (13, 1, 1, N'Boleta', N'00003', CAST(80.00 AS Decimal(10, 2)), CAST(N'2024-06-30T14:19:51.943' AS DateTime))
SET IDENTITY_INSERT [dbo].[Compra] OFF
GO
SET IDENTITY_INSERT [dbo].[DetalleCompra] ON 

INSERT [dbo].[DetalleCompra] ([IdDetalleCompra], [IdCompra], [IdProducto], [PrecioCompra], [PrecioVenta], [Cantidad], [MontoTotal], [FechaRegistro]) VALUES (1, 11, 3, CAST(20.00 AS Decimal(10, 2)), CAST(30.00 AS Decimal(10, 2)), 1, CAST(20.00 AS Decimal(10, 2)), CAST(N'2024-06-30T14:16:44.993' AS DateTime))
INSERT [dbo].[DetalleCompra] ([IdDetalleCompra], [IdCompra], [IdProducto], [PrecioCompra], [PrecioVenta], [Cantidad], [MontoTotal], [FechaRegistro]) VALUES (2, 12, 1002, CAST(20.00 AS Decimal(10, 2)), CAST(30.00 AS Decimal(10, 2)), 1, CAST(20.00 AS Decimal(10, 2)), CAST(N'2024-06-30T14:19:40.543' AS DateTime))
INSERT [dbo].[DetalleCompra] ([IdDetalleCompra], [IdCompra], [IdProducto], [PrecioCompra], [PrecioVenta], [Cantidad], [MontoTotal], [FechaRegistro]) VALUES (3, 12, 3, CAST(20.00 AS Decimal(10, 2)), CAST(30.00 AS Decimal(10, 2)), 3, CAST(60.00 AS Decimal(10, 2)), CAST(N'2024-06-30T14:19:40.543' AS DateTime))
SET IDENTITY_INSERT [dbo].[DetalleCompra] OFF
GO
SET IDENTITY_INSERT [dbo].[DetalleVenta] ON 

INSERT [dbo].[DetalleVenta] ([IdDetalleVenta], [IdVenta], [IdProducto], [PrecioVenta], [Cantidad], [SubTotal], [FechaRegistro]) VALUES (1, 1, 1003, CAST(4.50 AS Decimal(10, 2)), 1, CAST(4.50 AS Decimal(10, 2)), CAST(N'2024-07-03T21:49:54.740' AS DateTime))
INSERT [dbo].[DetalleVenta] ([IdDetalleVenta], [IdVenta], [IdProducto], [PrecioVenta], [Cantidad], [SubTotal], [FechaRegistro]) VALUES (2, 2, 1, CAST(28.00 AS Decimal(10, 2)), 1, CAST(28.00 AS Decimal(10, 2)), CAST(N'2024-07-03T21:51:09.383' AS DateTime))
INSERT [dbo].[DetalleVenta] ([IdDetalleVenta], [IdVenta], [IdProducto], [PrecioVenta], [Cantidad], [SubTotal], [FechaRegistro]) VALUES (3, 2, 3, CAST(3.00 AS Decimal(10, 2)), 1, CAST(3.00 AS Decimal(10, 2)), CAST(N'2024-07-03T21:51:09.383' AS DateTime))
SET IDENTITY_INSERT [dbo].[DetalleVenta] OFF
GO
SET IDENTITY_INSERT [dbo].[Permiso] ON 

INSERT [dbo].[Permiso] ([IdPermiso], [IdRol], [NombreMenu], [FechaRegistro]) VALUES (1, 1, N'menuUsuarios', CAST(N'2024-06-04T13:42:54.077' AS DateTime))
INSERT [dbo].[Permiso] ([IdPermiso], [IdRol], [NombreMenu], [FechaRegistro]) VALUES (2, 1, N'menuMantenedor', CAST(N'2024-06-04T13:42:54.077' AS DateTime))
INSERT [dbo].[Permiso] ([IdPermiso], [IdRol], [NombreMenu], [FechaRegistro]) VALUES (3, 1, N'menuVentas', CAST(N'2024-06-04T13:42:54.077' AS DateTime))
SET IDENTITY_INSERT [dbo].[Permiso] OFF
GO
SET IDENTITY_INSERT [dbo].[Producto] ON 

INSERT [dbo].[Producto] ([IdProducto], [Codigo], [Nombre], [Descripcion], [IdCategoria], [Stock], [PrecioCompra], [PrecioVenta], [Estado], [FechaRegistro]) VALUES (1, N'10', N'Leche', N'1 litro', 5, -5, CAST(20.00 AS Decimal(10, 2)), CAST(28.00 AS Decimal(10, 2)), 1, CAST(N'2024-06-06T18:05:51.000' AS DateTime))
INSERT [dbo].[Producto] ([IdProducto], [Codigo], [Nombre], [Descripcion], [IdCategoria], [Stock], [PrecioCompra], [PrecioVenta], [Estado], [FechaRegistro]) VALUES (3, N'20', N'Chorizo', N'Con chile, de la marca el panameño', 2, 2, CAST(1.00 AS Decimal(10, 2)), CAST(3.00 AS Decimal(10, 2)), 1, CAST(N'2024-06-24T00:14:29.150' AS DateTime))
INSERT [dbo].[Producto] ([IdProducto], [Codigo], [Nombre], [Descripcion], [IdCategoria], [Stock], [PrecioCompra], [PrecioVenta], [Estado], [FechaRegistro]) VALUES (1002, N'30', N'Helado Chocolate', N'Helado deslactasado de 2 pinos', 7, 52, CAST(20.00 AS Decimal(10, 2)), CAST(35.00 AS Decimal(10, 2)), 1, CAST(N'2024-06-29T01:33:01.350' AS DateTime))
SET IDENTITY_INSERT [dbo].[Producto] OFF
GO
SET IDENTITY_INSERT [dbo].[Proveedor] ON 

INSERT [dbo].[Proveedor] ([IdProveedor], [Documento], [RazonSocial], [Correo], [Telefono], [Estado], [FechaRegistro]) VALUES (1, N'1010', N'Proveedor 1', N'FSFSD', N'77777777', 0, CAST(N'2024-06-28T01:17:27.683' AS DateTime))
INSERT [dbo].[Proveedor] ([IdProveedor], [Documento], [RazonSocial], [Correo], [Telefono], [Estado], [FechaRegistro]) VALUES (2, N'2020', N'Proveeedor 20', N'Proveeedor2@gmail.comm', N'8888-8888', 0, CAST(N'2024-06-28T01:18:50.507' AS DateTime))
SET IDENTITY_INSERT [dbo].[Proveedor] OFF
GO
SET IDENTITY_INSERT [dbo].[Rol] ON 

INSERT [dbo].[Rol] ([IdRol], [Descripcion], [FechaRegistro]) VALUES (1, N'ADMINISTRADOR', CAST(N'2024-06-03T15:55:28.250' AS DateTime))
INSERT [dbo].[Rol] ([IdRol], [Descripcion], [FechaRegistro]) VALUES (2, N'EMPLEADO', CAST(N'2024-06-04T13:43:22.820' AS DateTime))
SET IDENTITY_INSERT [dbo].[Rol] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([IdUsuario], [Documento], [NombreCompleto], [Correo], [Clave], [IdRol], [Estado], [FechaRegistro]) VALUES (1, N'00', N'MATHIW BARQUERO MATARRITA', N'00@GMAIL.COM', N'123', 1, 1, CAST(N'2024-06-03T15:56:48.767' AS DateTime))
INSERT [dbo].[Usuario] ([IdUsuario], [Documento], [NombreCompleto], [Correo], [Clave], [IdRol], [Estado], [FechaRegistro]) VALUES (2, N'10', N'BRYAN ALONSO GARCÍA CÁRDENAS', N'10@GMAIL.COM', N'123', 2, 1, CAST(N'2024-06-04T13:50:29.270' AS DateTime))
INSERT [dbo].[Usuario] ([IdUsuario], [Documento], [NombreCompleto], [Correo], [Clave], [IdRol], [Estado], [FechaRegistro]) VALUES (3, N'20', N'VALERIA GARCÍA CÁRDENAS', N'20@GMAIL.COM', N'123', 1, 0, CAST(N'2024-06-05T16:22:08.123' AS DateTime))
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
SET IDENTITY_INSERT [dbo].[Venta] ON 

INSERT [dbo].[Venta] ([IdVenta], [IdUsuario], [TipoDocumento], [NumeroDocumento], [DocumentoCliente], [NombreCliente], [MontoPago], [MontoCambio], [MontoTotal], [FechaRegistro]) VALUES (1, 1, N'Boleta', N'00001', N'10', N'Valeria García ', CAST(5.00 AS Decimal(10, 2)), CAST(0.50 AS Decimal(10, 2)), CAST(4.50 AS Decimal(10, 2)), CAST(N'2024-07-03T21:49:54.737' AS DateTime))
INSERT [dbo].[Venta] ([IdVenta], [IdUsuario], [TipoDocumento], [NumeroDocumento], [DocumentoCliente], [NombreCliente], [MontoPago], [MontoCambio], [MontoTotal], [FechaRegistro]) VALUES (2, 1, N'Boleta', N'00002', N'20', N'Valll', CAST(32.00 AS Decimal(10, 2)), CAST(1.00 AS Decimal(10, 2)), CAST(31.00 AS Decimal(10, 2)), CAST(N'2024-07-03T21:51:09.383' AS DateTime))
INSERT [dbo].[Venta] ([IdVenta], [IdUsuario], [TipoDocumento], [NumeroDocumento], [DocumentoCliente], [NombreCliente], [MontoPago], [MontoCambio], [MontoTotal], [FechaRegistro]) VALUES (3, 1, N'Boleta', N'00003', N'10', N'Valeria García ', CAST(30.00 AS Decimal(10, 2)), CAST(2.00 AS Decimal(10, 2)), CAST(28.00 AS Decimal(10, 2)), CAST(N'2024-07-03T21:51:34.887' AS DateTime))
SET IDENTITY_INSERT [dbo].[Venta] OFF
GO
ALTER TABLE [dbo].[Categoria] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Cliente] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Compra] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[DetalleCompra] ADD  DEFAULT ((0)) FOR [PrecioCompra]
GO
ALTER TABLE [dbo].[DetalleCompra] ADD  DEFAULT ((0)) FOR [PrecioVenta]
GO
ALTER TABLE [dbo].[DetalleCompra] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[DetalleVenta] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Permiso] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Producto] ADD  DEFAULT ((0)) FOR [Stock]
GO
ALTER TABLE [dbo].[Producto] ADD  DEFAULT ((0)) FOR [PrecioCompra]
GO
ALTER TABLE [dbo].[Producto] ADD  DEFAULT ((0)) FOR [PrecioVenta]
GO
ALTER TABLE [dbo].[Producto] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Proveedor] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Rol] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Venta] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Compra]  WITH CHECK ADD FOREIGN KEY([IdProveedor])
REFERENCES [dbo].[Proveedor] ([IdProveedor])
GO
ALTER TABLE [dbo].[Compra]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[DetalleCompra]  WITH CHECK ADD FOREIGN KEY([IdCompra])
REFERENCES [dbo].[Compra] ([IdCompra])
GO
ALTER TABLE [dbo].[DetalleCompra]  WITH CHECK ADD FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Producto] ([IdProducto])
GO
ALTER TABLE [dbo].[DetalleVenta]  WITH CHECK ADD FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Producto] ([IdProducto])
GO
ALTER TABLE [dbo].[DetalleVenta]  WITH CHECK ADD FOREIGN KEY([IdVenta])
REFERENCES [dbo].[Venta] ([IdVenta])
GO
ALTER TABLE [dbo].[Permiso]  WITH CHECK ADD FOREIGN KEY([IdRol])
REFERENCES [dbo].[Rol] ([IdRol])
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[Categoria] ([IdCategoria])
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD FOREIGN KEY([IdRol])
REFERENCES [dbo].[Rol] ([IdRol])
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
/****** Object:  StoredProcedure [dbo].[SP_EditarCategoria]    Script Date: 7/8/2024 3:47:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_EditarCategoria] (
@IdCategoria int,
@Descripcion VARCHAR(50),
@Estado BIT,
@Respuesta BIT OUTPUT,
@Mensaje VARCHAR(500) OUTPUT
)
AS BEGIN
	SET @Respuesta = 1;
	SET @Mensaje = ''

	IF NOT EXISTS (SELECT * FROM Categoria WHERE Descripcion = @Descripcion AND IdCategoria != @IdCategoria)
	BEGIN 
		UPDATE Categoria SET
		Descripcion = @Descripcion,
		Estado = @Estado
		WHERE IdCategoria = @IdCategoria

		SET @Respuesta = 0
	END
	ELSE
		SET @Mensaje = 'No se puede repetir la descripcion de una categoría'
END
GO
/****** Object:  StoredProcedure [dbo].[SP_EditarCliente]    Script Date: 7/8/2024 3:47:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_EditarCliente] (
@IdCliente INT,
@Documento VARCHAR(50),
@NombreCompleto VARCHAR(50),
@Correo VARCHAR(50),
@Telefono VARCHAR(50),
@Estado BIT,
@Respuesta INT OUTPUT,
@Mensaje VARCHAR(500) OUTPUT
)
AS BEGIN
	SET @Respuesta = 1
	IF NOT EXISTS (SELECT * FROM Cliente WHERE Documento = @Documento AND IdCliente != @IdCliente)
		UPDATE Cliente SET
		Documento = @Documento,
		NombreCompleto = @NombreCompleto,
		Correo = @Correo,
		Telefono = @Telefono,
		Estado = @Estado
		WHERE IdCliente = @IdCliente
	ELSE
	BEGIN
		SET @Respuesta = 0
		SET @Mensaje = 'Ya existe un producto con el mismo código'
	END

END
GO
/****** Object:  StoredProcedure [dbo].[SP_EditarProducto]    Script Date: 7/8/2024 3:47:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_EditarProducto](
@IdProducto INT,
@Codigo VARCHAR(50),
@Nombre VARCHAR(100),
@Descripcion VARCHAR(50),
@IdCategoria INT,
@Estado BIT,
@Respuesta INT OUTPUT,
@Mensaje VARCHAR(500) OUTPUT
)
AS BEGIN
	SET @Respuesta = 1
	IF NOT EXISTS (SELECT * FROM Producto WHERE Codigo = @Codigo AND IdProducto != @IdProducto)
		UPDATE PRODUCTO SET
		Codigo = @Codigo,
		Nombre = @Nombre,
		Descripcion = @Descripcion,
		IdCategoria = @IdCategoria,
		Estado = @Estado
		WHERE IdProducto = @IdProducto
	ELSE
	BEGIN
		SET @Respuesta = 0
		SET @Mensaje = 'Ya existe un producto con el mismo código'
	END

END
GO
/****** Object:  StoredProcedure [dbo].[SP_EditarProveedor]    Script Date: 7/8/2024 3:47:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_EditarProveedor](
@IdProveedor INT,
@Documento VARCHAR(50),
@RazonSocial VARCHAR(100),
@Correo VARCHAR(50),
@Telefono VARCHAR(50),
@Estado BIT,
@Respuesta INT OUTPUT,
@Mensaje VARCHAR(500) OUTPUT
)
AS BEGIN
	SET @Respuesta = 1
	IF NOT EXISTS (SELECT * FROM Proveedor WHERE Documento = @Documento AND IdProveedor != @IdProveedor)
		UPDATE Proveedor SET
		Documento = @Documento,
		RazonSocial = @RazonSocial,
		Correo = @Correo,
		Telefono = @Telefono,
		Estado = @Estado
		WHERE IdProveedor = @IdProveedor
	ELSE
	BEGIN
		SET @Respuesta = 0
		SET @Mensaje = 'Ya existe un proveedor con el mismo docummento'
	END

END
GO
/****** Object:  StoredProcedure [dbo].[SP_EditarUsuario]    Script Date: 7/8/2024 3:47:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_EditarUsuario] (
@IdUsuario int,
@Documento VARCHAR(50),
@NombreCompleto VARCHAR(100),
@Correo VARCHAR(100),
@Clave VARCHAR(100),
@IdRol INT,
@Estado BIT,
@Respuesta BIT OUTPUT,
@Mensaje VARCHAR(500) OUTPUT
)
AS BEGIN
	SET @Respuesta = 0;
	SET @Mensaje = ''

	IF NOT EXISTS (SELECT * FROM USUARIO WHERE Documento = @Documento AND idusuario != @IdUsuario)
	BEGIN 
		UPDATE Usuario SET
		Documento = @Documento,
		NombreCompleto = @NombreCompleto,
		Correo = @Correo,
		Clave = @Clave,
		IdRol = @IdRol,
		Estado = @Estado
		WHERE IdUsuario = @IdUsuario

		SET @Respuesta = 1
	END
	ELSE
		SET @Mensaje = 'No se puede repetir el documento para más de un usuario'
END
GO
/****** Object:  StoredProcedure [dbo].[SP_EliminarCategoria]    Script Date: 7/8/2024 3:47:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_EliminarCategoria] (
@IdCategoria int,
@Respuesta BIT OUTPUT,
@Mensaje VARCHAR(500) OUTPUT
)
AS BEGIN
	SET @Respuesta = 1;

	IF NOT EXISTS (	SELECT * FROM Categoria C 
	INNER JOIN PRODUCTO P ON P.IdCategoria = C.IdCategoria
	WHERE C.IdCategoria = @IdCategoria	)

	BEGIN 
		DELETE top(1) FROM Categoria WHERE IdCategoria = @IdCategoria
	END
	ELSE
		SET @Respuesta = 0;
		SET @Mensaje = 'La categoría se encuentra relacionada a un producto'
END
GO
/****** Object:  StoredProcedure [dbo].[SP_EliminarProducto]    Script Date: 7/8/2024 3:47:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_EliminarProducto](
@IdProducto INT,
@Respuesta INT OUTPUT,
@Mensaje VARCHAR(500) OUTPUT
)
AS BEGIN
	SET @Respuesta = 1;
	SET @Mensaje = '';
	DECLARE @PasoReglas BIT = 1

	IF EXISTS (	SELECT * FROM DetalleCompra C 
	INNER JOIN PRODUCTO P ON P.IdProducto = C.IdProducto
	WHERE C.IdProducto = @IdProducto)
	BEGIN 
		SET @PasoReglas = 0
		SET @Respuesta = 0;
		SET @Mensaje = @Mensaje + 'No se puede eliminar porque se encuentra relacionado a una COMPRA\n';
	END

	IF EXISTS (	SELECT * FROM DetalleVenta V 
	INNER JOIN PRODUCTO P ON P.IdProducto = V.IdProducto
	WHERE V.IdProducto = @IdProducto)
	BEGIN 
		SET @PasoReglas = 0
		SET @Respuesta = 0;
		SET @Mensaje = @Mensaje + 'No se puede eliminar porque se encuentra relacionado a una VENTA\n';
	END


	IF(@PasoReglas = 1)
	BEGIN
		DELETE FROM Producto WHERE IdProducto = @IdProducto
		SET @Respuesta = 1;
	END

END
GO
/****** Object:  StoredProcedure [dbo].[SP_EliminarProveedor]    Script Date: 7/8/2024 3:47:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_EliminarProveedor](
@IdProveedor INT,
@Respuesta INT OUTPUT,
@Mensaje VARCHAR(500) OUTPUT
)
AS BEGIN
	SET @Respuesta = 1;

	IF NOT EXISTS (	SELECT * FROM Compra C 
	INNER JOIN Proveedor P ON P.IdProveedor = C.IdProveedor
	WHERE C.IdProveedor = @IdProveedor)
	BEGIN
		DELETE TOP(1) FROM Proveedor WHERE IdProveedor = @IdProveedor
	END
	ELSE
	BEGIN
		SET @Respuesta = 0;
		SET @Mensaje = 'El proveedor se encuentra relaciondo con una compra'
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_EliminarUsuario]    Script Date: 7/8/2024 3:47:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_EliminarUsuario] (
@IdUsuario int,
@Respuesta BIT OUTPUT,
@Mensaje VARCHAR(500) OUTPUT
)
AS BEGIN
	SET @Respuesta = 0;
	SET @Mensaje = ''
	DECLARE @PasoReglas bit = 1



	IF  EXISTS 
	(
		SELECT * FROM COMPRA C
		INNER JOIN USUARIO U ON U.IdUsuario = C.IdUsuario
		WHERE U.IdUsuario = @IdUsuario
	)
	BEGIN 
		SET @PasoReglas = 0
		SET @Respuesta = 0
		SET @Mensaje = @Mensaje + 'No se puede eliminar porque el usuario se encuentra relacionado a una COMPRA\n'
	END


	IF  EXISTS 
	(
		SELECT * FROM VENTA V
		INNER JOIN USUARIO U ON U.IdUsuario = V.IdUsuario
		WHERE U.IdUsuario = @IdUsuario
	)
	BEGIN 
		SET @PasoReglas = 0
		SET @Respuesta = 0;
		SET @Mensaje = @Mensaje + 'No se puede eliminar porque el usuario se encuentra relacionado a una VENTA\n'
	END


	IF(@PasoReglas = 1)
	BEGIN
		DELETE FROM Usuario	WHERE IdUsuario = @IdUsuario
		SET @Respuesta = 1;
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_RegistrarCategoria]    Script Date: 7/8/2024 3:47:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_RegistrarCategoria] (
@Descripcion VARCHAR(50),
@Estado BIT,
@Respuesta INT OUTPUT,
@Mensaje VARCHAR(500) OUTPUT
)
AS BEGIN
	SET @Respuesta = 0;
	IF NOT EXISTS (SELECT * FROM Categoria WHERE Descripcion = @Descripcion)
	BEGIN 
		INSERT INTO Categoria(Descripcion,Estado)
		VALUES (@Descripcion,@Estado)
		SET @Respuesta = SCOPE_IDENTITY()
	END
	ELSE
		SET @Mensaje = 'No se puede repetir la descripcion de una categoría'
END
GO
/****** Object:  StoredProcedure [dbo].[SP_RegistrarCliente]    Script Date: 7/8/2024 3:47:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[SP_RegistrarCliente] (
@Documento VARCHAR(50),
@NombreCompleto VARCHAR(50),
@Correo VARCHAR(50),
@Telefono VARCHAR(50),
@Estado BIT,
@Respuesta INT OUTPUT,
@Mensaje VARCHAR(500) OUTPUT
)
AS BEGIN
	SET @Respuesta = 0
	DECLARE @IdPersona INT
	IF NOT EXISTS (SELECT * FROM Cliente WHERE Documento = @Documento)
	BEGIN 
		INSERT INTO Cliente(Documento,NombreCompleto,Correo,Telefono,Estado)
		VALUES (@Documento,@NombreCompleto,@Correo,@Telefono,@Estado)
		SET @Respuesta = SCOPE_IDENTITY()
	END
	ELSE
		SET @Mensaje = 'El número de documento ya existe'
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarCompra]    Script Date: 7/8/2024 3:47:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_RegistrarCompra](
@idUsuario int,
@IdProveedor int,
@TipoDocumento varchar(500),
@NumeroDocumento varchar(500),
@MontoTotal decimal(18,2),
@DetalleCompra [EDetalle_Compra] READONLY,
@Resultado bit output,
@Mensaje varchar(500) output
)
AS 
BEGIN

	BEGIN TRY

		DECLARE @idcompra INT = 0
		SET @Resultado = 1
		SET @Mensaje = ''

		BEGIN TRANSACTION registro

			INSERT INTO Compra(IdUsuario, IdProveedor, TipoDocumento,NumeroDocumento,MontoTotal)
			VALUES(@IdUsuario,@IdProveedor,@TipoDocumento,@NumeroDocumento,@MontoTotal)

			SET @idcompra = SCOPE_IDENTITY()

			INSERT INTO DetalleCompra(IdCompra, IdProducto,PrecioCompra,PrecioVenta,Cantidad,MontoTotal)
			SELECT @idcompra, IdProducto, PrecioCompra, PrecioVenta, Cantidad, MontoTotal FROM @DetalleCompra

			UPDATE p SET p.Stock = p.Stock + dc.Cantidad,
			p.PrecioCompra = dc.PrecioCompra,
			p.PrecioVenta = dc.PrecioVenta
			FROM PRODUCTO p
			INNER JOIN @DetalleCompra dc on dc.IdProducto= p.IdProducto

		COMMIT TRANSACTION registro
	END TRY


	BEGIN CATCH

		SET @Resultado = 0
		SET @Mensaje = ERROR_MESSAGE()
		ROLLBACK TRANSACTION registro

	END CATCH
END

select * from COMPRA where NumeroDocumento = '00002'
select * from DETALLECOMPRA where IdCompra = 12


SELECT * FROM Compra 
SELECT * FROM DETALLECOMPRA 

SELECT 
 c.IdCompra, c.TipoDocumento, c.NumeroDocumento, c.MontoTotal, convert(char(10),c.FechaRegistro,103),
 p.Documento, p.RazonSocial, 
 u.NombreCompleto
FROM Compra c 
INNER JOIN Usuario u ON u.IdUsuario = c.IdUsuario
INNER JOIN Proveedor p ON p.IdProveedor = c.IdProveedor
WHERE c.NumeroDocumento = '00002'






/* ----------------- VENTAS ----------------- */







GO
/****** Object:  StoredProcedure [dbo].[SP_RegistrarProducto]    Script Date: 7/8/2024 3:47:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[SP_RegistrarProducto] (
@Codigo VARCHAR(50),
@Nombre VARCHAR(100),
@Descripcion VARCHAR(50),
@IdCategoria INT,
@Estado BIT,
@Respuesta INT OUTPUT,
@Mensaje VARCHAR(500) OUTPUT
)
AS BEGIN
	SET @Respuesta = 0
	IF NOT EXISTS (SELECT * FROM Producto WHERE Codigo = @Codigo)
	BEGIN 
		INSERT INTO Producto(Codigo,Nombre,Descripcion,IdCategoria,Estado)
		VALUES (@Codigo,@Nombre,@Descripcion,@IdCategoria,@Estado)
		SET @Respuesta = SCOPE_IDENTITY()
	END
	ELSE
		SET @Mensaje = 'Ya existe un producto con el mismo código'
END
GO
/****** Object:  StoredProcedure [dbo].[SP_RegistrarProveedor]    Script Date: 7/8/2024 3:47:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/* ---------------- PROVEEDORES ---------------- */
CREATE PROCEDURE  [dbo].[SP_RegistrarProveedor] (
@Documento VARCHAR(50),
@RazonSocial VARCHAR(100),
@Correo VARCHAR(50),
@Telefono VARCHAR(50),
@Estado BIT,
@Respuesta INT OUTPUT,
@Mensaje VARCHAR(500) OUTPUT
)
AS BEGIN
	SET @Respuesta = 0
	IF NOT EXISTS (SELECT * FROM Proveedor WHERE Documento = @Documento)
	BEGIN 
		INSERT INTO Proveedor(Documento,RazonSocial,Correo,Telefono,Estado)
		VALUES (@Documento,@RazonSocial,@Correo,@Telefono,@Estado)
		SET @Respuesta = SCOPE_IDENTITY()
	END
	ELSE
		SET @Mensaje = 'El número de documento ya existe'
END
GO
/****** Object:  StoredProcedure [dbo].[SP_RegistrarUsuario]    Script Date: 7/8/2024 3:47:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_RegistrarUsuario] (
@Documento VARCHAR(50),
@NombreCompleto VARCHAR(100),
@Correo VARCHAR(100),
@Clave VARCHAR(100),
@IdRol INT,
@Estado BIT,
@IdUsuarioResultado INT OUTPUT,
@Mensaje VARCHAR(500) OUTPUT
)
AS BEGIN
	SET @IdUsuarioResultado = 0;
	SET @Mensaje = ''
	IF NOT EXISTS (SELECT * FROM USUARIO WHERE Documento = @Documento)
	BEGIN 
		INSERT INTO Usuario(Documento, NombreCompleto, Correo, Clave, IdRol, Estado)
		VALUES (@Documento,@NombreCompleto,@Correo,@Clave,@IdRol,@Estado)
		SET @IdUsuarioResultado = SCOPE_IDENTITY()
	END
	ELSE
		SET @Mensaje = 'No se puede repetir el documento para más de un usuario'
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarVenta]    Script Date: 7/8/2024 3:47:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RegistrarVenta](
@idUsuario int,
@TipoDocumento varchar(500),
@NumeroDocumento varchar(500),
@DocumentoCliente varchar(500),
@NombreCliente varchar(500),
@MontoPago decimal (18,2),
@MontoCambio decimal (18,2),
@MontoTotal decimal (18,2),
@DetalleVenta [EDetalle_Venta] READONLY,
@Resultado bit output,
@Mensaje varchar(500) output
)
AS 
BEGIN

	BEGIN TRY

		DECLARE @idventa INT = 0
		SET @Resultado = 1
		SET @Mensaje = ''

		BEGIN TRANSACTION registro

			INSERT INTO Venta(IdUsuario,TipoDocumento,NumeroDocumento,DocumentoCliente,NombreCliente,MontoPago,MontoCambio,MontoTotal)
			VALUES(@IdUsuario,@TipoDocumento,@NumeroDocumento,@DocumentoCliente,@NombreCliente,@MontoPago,@MontoCambio,@MontoTotal)


			SET @idventa = SCOPE_IDENTITY()

			INSERT INTO DetalleVenta(IdVenta, IdProducto,PrecioVenta,Cantidad,SubTotal)
			SELECT @idventa, IdProducto, PrecioVenta, Cantidad, SubTotal FROM @DetalleVenta

		COMMIT TRANSACTION registro
	END TRY


	BEGIN CATCH

		SET @Resultado = 0
		SET @Mensaje = ERROR_MESSAGE()
		ROLLBACK TRANSACTION registro

	END CATCH
END




GO
/****** Object:  StoredProcedure [dbo].[sp_ReporteCompras]    Script Date: 7/8/2024 3:47:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ReporteCompras] (
@fechainicio varchar(10),
@fechafin varchar(10),
@idproveedor int
)
AS 
BEGIN

SET DATEFORMAT dmy;

SELECT
    CONVERT(char(10), c.FechaRegistro, 103) AS FechaRegistro,
    c.TipoDocumento,
    c.NumeroDocumento,
    c.MontoTotal,
    u.NombreCompleto AS UsuarioRegistro,
    pr.Documento AS DocumentoProveedor,
    pr.RazonSocial,
    p.Codigo AS CodigoProducto,
    p.Nombre AS NombreProducto,
    ca.Descripcion AS Categoria,
    dc.PrecioCompra,
    dc.PrecioVenta,
    dc.Cantidad,
    dc.MontoTotal AS SubTotal
FROM COMPRA c
INNER JOIN USUARIO u ON u.IdUsuario = c.IdUsuario
INNER JOIN PROVEEDOR pr ON pr.IdProveedor = c.IdProveedor
INNER JOIN DETALLECOMPRA dc ON dc.IdCompra = c.IdCompra
INNER JOIN PRODUCTO p ON p.IdProducto = dc.IdProducto
INNER JOIN CATEGORIA ca ON ca.IdCategoria = p.IdCategoria
WHERE CONVERT(date, c.FechaRegistro) BETWEEN @fechainicio AND @fechafin
AND pr.IdProveedor = iif(@idproveedor=0,pr.IdProveedor,@idproveedor)
END


GO
/****** Object:  StoredProcedure [dbo].[sp_ReporteVentas]    Script Date: 7/8/2024 3:47:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ReporteVentas](
@fechainicio VARCHAR(10),
@fechafin VARCHAR(10)
)

AS 
BEGIN
SET DATEFORMAT dmy;
SELECT
	convert(char(10),v.FechaRegistro,103) [FechaRegistro],v.TipoDocumento, v.NumeroDocumento, v.MontoTotal,
	u.NombreCompleto[UsuarioRegistro],
	v.DocumentoCliente, v.NombreCliente,
	p.Codigo[CodigoProducto],p.Nombre[NombreProducto],ca.Descripcion[Categoria],dv.PrecioVenta, dv.Cantidad, dv.SubTotal
	FROM VENTA V
	INNER JOIN USUARIO u on u.IdUsuario = v.IdUsuario
	INNER JOIN DETALLEVENTA dv on dv.IdVenta = v.IdVenta
	INNER JOIN PRODUCTO p on p.IdProducto = dv.IdProducto
	INNER JOIN CATEGORIA ca on ca. IdCategoria = p.IdCategoria
	where CONVERT(date, v.FechaRegistro) BETWEEN @fechainicio AND @fechafin
END
GO
